#form-group{
    display: grid;
    justify-content: center;
    align-content: center;
    
}
/* body:before { z-index: -1; } */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 80px;
    position: relative;
    /* background-color: black; */
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 0px;
    background-color: white;
    /* border-radius: 5px 5px 0px 0px; */
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 8px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  /* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  } */
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: rgb(181, 100, 201);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .register{
      margin: 0px;
      padding: 20px 0px 0px 0px;
  }

  .rad{
      border-radius: 4px;
  }

  .sign{
      padding: 20px 0px 20px 0px;
  }

  .topnav-right {
    float: right;
  }
.tema{
  text-align: center;
}

.grid-position > div{
  text-align: center;
  font-size: 80px;
  color: grey
}
