{{!-- <form id="form-group" method="POST" , action="/">
     <h1>ВЕЧЕРИНКИ</h1>
     <br>
    {{#each arr}}
    <div class='formInfo'>
        <div class='name'><a href='/users/event'>{{this.name}}</a></div>
        <div class='place' type='text'>МЕСТО: <span class='text'>{{this.place}}</div>
        <div class='date'>ДАТА: <span class='text'>{{this.date}}</span> </div>
    </div>
    <br>
    {{/each}}
</form> --}}

<h1 class='tema'>Change your life with us!</h1>