<form id="form-group" method="POST" , action="/users/login">
    <h1 class="register sign">Sign in</h1>
    <div class="input-group">
        <span class="input-group-label"><b>Login:</b> </span>
        <input class="username rad" placeholder="Enter login" name="username" type="text">
    </div>

    <div class="input-group">
        <span class="input-group-label"><b>Password:</b></span>
        <input class="password rad" placeholder="Enter password" name="password" type="password">
    </div>

    <button type="submit" class="registerbtn rad">Submit</button>
          <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>

</form>