{{!-- <form id="form-group" method="POST" , action="/users/party">
    <h1 class="party">Организовать вечеринку</h1>
    <div class="input-group">
        <span class="input-group-label">ТЕМА ВЕЧЕРИНКИ: </span>
        <input class="name" name="name" type="text">
    </div>

    <div class="input-group">
        <span class="input-group-label">МЕСТО: </span>
        <input class="place" name="place" type="text">
    </div>

    <div class="input-group">
        <span class="input-group-label">ДАТА: </span>
        <input class="date" name="date" type="datetime-local">
    </div>

    <br>
    <button type="submit" class="button">Подтвердить</button>

</form> --}}