<h1 class='tema'>CHOOSE THEMES</h1>
{{#if user}}
<div class="grid-position">
    <div><a href="#">Bash, HTML, Git<p>(1 day)</p></a>
    </div>
    <div><a href="#">CSS<p>(2 day)</p></a></div>
    <div><a href="#">JS: Переменные и управляющие структуры<p>(3 day)</p></a></div>
    <div><a href="#">DOM, Git<p>(4 day)</p></a></div>
    <div><a href="#">DOM2, eslint<p>(5 day)</p></a></div>
    <div><a href="#">Arrays<p>(6 day)</p></a></div>
    <div><a href="#">Алгоритмы<p>(7 day)</p></a></div>
    <div><a href="#">Строки, регулярные выражения<p>(8 day)</p></a></div>
    <div><a href="#">ООП<p>(9 day)</p></a></div>
</div>
{{/if}}